/*通用样式*/
*{
	margin: 0px;
	padding: 0px;
	}
body{
	font-family: "微软雅黑";
	font-size: 12px;
}
.ct{
	width: 1140px;
	margin: 0px auto;
	}
.l{
	float: left;
}
.r{
	float: right;
}
.cl{
	clear: both;
}
img{
	border: none;
}
.date{
	float: right;
}
/*header*/
.header{
	height: 170px;
	width: 1366px;
	margin-bottom: 5px;
}
.logos{
	width: 1366px;
	height: 130px;
}
.logos_left{
	float: left;
	margin-left: 130px;
	margin-top: 20px;
}
.logos_right{
	position: relative;
	float: right;
}
.logos_right_line1{
	margin-right: 130px;
	margin-top: 13px;
}
.logos_right_line1 a{
	text-decoration: none;
	color: #646464;
}
.logos_right_line2{
	position: absolute;
	margin-top: 6px;
	margin-left: 282px;
}
.logos_right_line3{
	height: 40px;
	position: absolute;
	margin-top: 48px;
	margin-left: 181px;
}
.logos_right_line3 .search_left{
	width: 25px;
	background: url("../images/search_left.jpg") no-repeat;
}
.logos_right_line3 .search_center{
	width: 142px;
	background: url("../images/search_center.jpg") repeat-x;
}
.logos_right_line3 .search_right{
	background: url("../images/search_right.jpg") no-repeat;
	width: 37px;
	height: 25px;
	
}
.search_right button{
	width: 37px;
	height: 25px;
	background: none;
	border: 0px;
	/*鼠标移到button上面变成小手*/
	cursor: pointer;
}
.nav{
	width: 1366px;
	height: 40px;
	background-color: #3181c0;
	line-height: 40px;
	font-size: 16px;
	font-weight: strong;
}
.navv{
	margin: 0px 157px 0px 157px;
}
.nav li{
	list-style: none;
	float: left;
	padding: 0px 25px;
}
.nav li:hover{
	background-color: #2b4582;
}
.nav li a{
	text-decoration: none;
	color: white;
}

/*center*/
.center{
	/*text-align: center;*/
	/*float:left;*/
	width: 1366px;
	height: 850px;
	background-color: whitesmoke;
}
.center .ad{
	height: 350px;
	margin-bottom: 20px;
}
.news{
	width: 300px;
	margin-left: -97px;
	margin-right: 85px;
}
.news .tit{
	width: 280px;
	margin-left: 110px;
	margin-bottom: 10px;
	border-bottom: 1px solid #989898;
}
.xw_img img{
	height: 134px;
	width: 280px;
	margin-left: 110px;
}
.news_details{
	width: 280px;
	font-size: 14px;
	margin-top: 10px;
	margin-left:120px;
}
.news_details a{
	text-decoration: none;
	color: black;
	
}
.news_details li{
	list-style-image: url("../images/list_img.jpg");
}
.notice
{
	margin-left: 40px;
	margin-right: 40px;
	font-size: 14px;
}
.notice a
{
	text-decoration: none;
	color: black;
}
.notice .tit1{
	width: 280px;
	
	border-bottom: 1px solid #989898;
}
.details1 li{
	list-style-image: url("../images/list_img.jpg");
}
.details2 li{
	list-style-image: url("../images/list_img.jpg");
}
.school_info{
	margin-right: 35px;
	font-size: 14px;
}
.school_info a{
	text-decoration: none;
	color: black;
}
.school_info .tit2{
	width: 280px;
	border-bottom: 1px solid #989898;
	
}
.quick_nav1 li{
	list-style: none;
}
.quick_nav2{
	height: 89px;
	width: 100%;
}
.quick_nav2 li{
	list-style: none;
	float: left;
	margin-right: -45px;
	margin-left: 100px;
	margin-top: 20px;
}
.quick_nav2 li a{
	text-decoration: none;
	color: black;
}
.quick_nav2 li span
{
	/*font-size: 14px;*/
}
.quick_nav2 li span:hover
{
	color:deepskyblue;
}
.ctrt{
	width: 138px;
	height: 387px;
	background-color: #e9e9e9;
}
.ctlt{
	float: left;
	width: 106px;
	height: 387px;
	background-color: #e9e9e9;
}
/*footer*/
.footer{
	width: 1366px;
	height: 137px;	
}
